<div id="<%= dom_id broker_account %>">
  <p>
    <strong>Password:</strong>
    <%= broker_account.password %>
  </p>

  <p>
    <strong>Enc password:</strong>
    <%= broker_account.enc_password %>
  </p>

  <p>
    <strong>Superuser:</strong>
    <%= broker_account.superuser %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= broker_account.enabled %>
  </p>

</div>
